body{
  font-family: 'Allerta Stencil', sans-serif;
  background-image: url("spacebackground.jpg");
  margin: 40px 0 0 0;
  color: rgb(180,180,180); 
  
  }
.grid-container{
   display: grid;
   grid-column-gap: 5px;
   grid-template-columns: 30% 40%;
   grid-template-rows: 100% 100%;
  }
  .game-intro{
    grid-row: 1; 
    padding: 25px;
    position: relative;
    left: 60%;
  }
  
  .game-board{
    position: absolute;
    top: 120px;
    margin: 0 0 0 0;
    left: 50%;
    opacity: 50%;
  }
  
  button {
    font-size: 40px;
    background-color: rgb(180,180,180); 
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin: 10px;
    display: block;
    position: relative;
    top: 90px; 
    left: -9%;
  }
  
  canvas{
    border: 2px solid white;
    margin: 30px 0 0 0;
    border-radius: 5px;
    background-image: url("background-static.png");
    opacity:0.9;
  }
  .logo-img{
    margin-top: 80px;
    position:relative;
    left: 34%;
    width: 150px; 
  }

  .points-table{
      display: inline;
      position: relative;
      left: 50%;
       }
  
  .points{
      display: inline;
      font-size: 2em;
  }

  .desc-box{
    text-align: center;
  }

  .game-over{
    position: absolute;
    left: 53%;
    top: 20%;
    font-size: 4em;
    color: #E0E0E0; ;
  }

  input{
    background-color:  rgb(220,220,220); 
  }

  .visible{
    display: none;
  }
  .indications{
    position: relative;
    left: -35%;
    top: 240px;
    font-size: 70%;
    text-align: center;
  }
  footer{
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 75%;
    background-color:white;
    position: absolute;
    bottom: 0;
  }